@font-face {
  font-family: "IvarHeadline-Regular";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Regular.woff2);
 }  
 @font-face {
  font-family: "IvarHeadline-Italic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
 } 
 @font-face {
  font-family: "IvarHeadline-Bold";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Bold.woff2);
 }  
 @font-face {
  font-family: "IvarHeadline-BoldItalic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
 } 
 @font-face {
  font-family: "IvarText-Regular";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Regular.woff2);
 } 
 @font-face {
  font-family: "IvarText-Italic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Regular.woff2);
 }
 @font-face {
  font-family: "IvarText-Bold";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Bold.woff2);
 }
 @font-face {
  font-family: "Staff-Regular";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Regular.woff2);
 }  
 @font-face {
  font-family: "Staff-Italic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Italic.woff2);
 } 
 @font-face {
  font-family: "Staff-Bold";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Bold.woff2);
 }  
 @font-face@font-face {
  font-family: "IvarHeadline-Regular";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Regular.woff2);
 }  
 @font-face {
  font-family: "IvarHeadline-Italic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
 } 
 @font-face {
  font-family: "IvarHeadline-Bold";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Bold.woff2);
 }  
 @font-face {
  font-family: "IvarHeadline-BoldItalic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
 } 
 @font-face {
  font-family: "IvarText-Regular";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Regular.woff2);
 } 
 @font-face {
  font-family: "IvarText-Italic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Regular.woff2);
 }
 @font-face {
  font-family: "IvarText-Bold";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Bold.woff2);
 }
 @font-face {
  font-family: "Staff-Regular";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Regular.woff2);
 }  
 @font-face {
  font-family: "Staff-Italic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Italic.woff2);
 } 
 @font-face {
  font-family: "Staff-Bold";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Bold.woff2);
 }  
 @font-face {
  font-family: "Staff-BoldItalic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-BoldItalic.woff2);
 } 
 @font-face {
  font-family: "Carrie-Regular";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/VTCCarrie-Regular.woff2);
 } 
 /* ------------------ EMANCIPATOR COLORS ---------------------------------------- */
/* FOREST #31463F */
/* ROSE #CD395B */
/* FOREST #31463F */
/* PINK #F6B0A0 */
/* PUTTY #F6F2E1 */
/* SKY #BADEFC */
/* BLACK #1C1C1C */
/* HIGHLIGHTER #EBF952 
gold#FBC24C
*/

/*    MY TYPE STYLES    */

.header {
  padding: 10px 0 0px 0;
    margin: 0;
    background-color: #31463F;
      height: 70px;
      position: sticky;
      top:0;
      z-index: 2;
  }
  .emancipator-description {
      background-color: #BADEFC;
      padding:11px 15px;
      margin: 0 0px 0px 0px;
      height: 50px;
      z-index: 2;
  }
  .emancipator-description p {
          font-family: "Staff-Bold","Arial",sans-serif;
          font-size: 15px;
          margin-top: -1px;
          z-index: 2;
  }

  /*------------------- FOOTER STYLES ---------------------------------------------------*/
@media only screen and (max-width:600px) {
  /* FULL-WIDTH FOR MOBILE */
.footer {
  background-color: #F6F2E1;
  padding: 25px 50px;
  display:block;
  margin-top: 50px;
  }
}
@media only screen and (min-width:601px) {
      /* SPLIT INTO THREE COLUMNS FOR LARGER SCREENS */
.footer {
  background-color: #F6F2E1;
  padding: 25px 50px;
  display:grid;
  grid-template-columns: 33% 12% 12% ;
  grid-column-gap: 4em;
  margin-top: 50px;
  }
}
.footer img {
  width: 50%;
}
.footer .boilerplate p {
  font-family: "IvarText-Regular","TimesNewRoman",serif;
  font-size: 12px;
  line-height: 1.8;
}
.footer .footerbold p {
  font-family: "Staff-Bold","Arial-Bold",sans-serif;
  font-size: 12px;
  line-height: 1.8;
}



#main {
  box-sizing: border-box;
  scroll-margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

}

@media only screen and (max-width:600px)
{.header-container{
  display: block;
  margin-top: 16px;
}
}

@media only screen and (min-width:601px)
{.header-container{
  display: block;
  padding-top: 16px;
}
}

@media only screen and (max-width:600px)
{.header-container h1{
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  font-family: "IvarHeadline-Regular",Georgia, 'Times New Roman', Times, serif;
  margin: 0 15%;
  text-align: center;
  padding-top: 8px;
}
}

@media only screen and (min-width:601px)
{.header-container h1{
  font-size: 46px;
  line-height: 52px;
  font-weight: 400;
  font-family: "IvarHeadline-Regular",Georgia, 'Times New Roman', Times, serif;
  margin: 0 20%;
  text-align: center;
  padding-top: 8px;
}
}


@media only screen and (max-width:600px)
{.header-container h2{
  font-family:"Staff-Bold",Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0;
  text-align: center;
  font-weight: 400;
}}


@media only screen and (min-width:601px)
{.header-container h2{
  font-family:"Staff-Bold",Arial, Helvetica, sans-serif;
  font-size: 26px;
  line-height: 36px;
  margin: 0 20%;
  text-align: center;
  font-weight: 400;
}}

@media only screen and (min-width:601px)
{.byline {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}
}

@media only screen and (max-width:600px)
{.byline {
  margin: 20px 0;
  text-align: center;
}
}

@media only screen and (max-width:600px)
{.byline p{
  font-family:"Staff-Regular",Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-right: 3px;
  font-size: 13px;
}
}


@media only screen and (min-width:601px)
{.byline p{
  font-family:"Staff-Regular",Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-right: 3px;
  font-size: 18px;
}
}

@media only screen and (max-width:600px)
{.byline span{
  font-family:"Staff-Bold",Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 13px;
}
}

@media only screen and (min-width:601px)
{.byline span{
  font-family:"Staff-Bold",Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 18px;
}
}

@media only screen and (max-width:600px)
{.article-body p {
  font-family:"IvarText-Regular", Georgia, 'Times New Roman', Times, serif;
  max-width: 1080px;
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.8;
}
}

@media only screen and (min-width:601px)
{.article-body p {
  font-family:"IvarText-Regular", Georgia, 'Times New Roman', Times, serif;
  max-width: 50%;
  margin: 20px auto;
  font-size: 18px;
  line-height: 1.8;
}}

.article-body a:link {
  color: #CD395B;
  text-transform: none;
  font-weight: bold;
  border-bottom: 2px solid;
  font-family: "Staff",Helvetica,Arial,sans-serif;
  text-decoration: none;
}

.article-body a:visited {
  color: #CD395B;
  text-transform: none;
  font-weight: bold;
  border-bottom: 2px solid;
  font-family: "Staff",Helvetica,Arial,sans-serif;
  text-decoration: none;
}

.article-body a:hover {
  border-bottom: 2px solid #CD395B;
  text-transform: none;
  font-weight: bold;
  font-family: "Staff",Helvetica,Arial,sans-serif;
  text-decoration: none;
  
}

@media only screen and (min-width:601px)
{.vizcap {
  max-width: 50%;
  margin: 40px auto 10px auto;
}}

@media only screen and (max-width:600px)
{.vizcap {
  max-width: 80%;
  margin: 40px auto 10px auto;
}}

.vizcap p{
  font-family:"Staff",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

@media only screen and (min-width:601px)
{.popoutgraphcen {
  max-width: 70%;
  margin: 20px auto;
}
.popoutgraphcen img{
  width: 100%;
}}

@media only screen and (max-width:600px)
{.popoutgraphcen {
  max-width: 100%;
  margin: 20px auto;
}
.popoutgraphcen img{
  width: 100%;
}}

@media only screen and (min-width:601px)
{.popoutgraphright {
  max-width: 25%;
  margin-right: 17%;
  float: right;
  margin-left: 16px;
  position: relative;
  margin-bottom: 16px;
  margin-top: 8px;
  display: block;
}
}

@media only screen and (max-width:600px)
{.popoutgraphright {
  position: relative;
  margin-bottom: 16px;
  margin-top: 8px;
  display: block;
}
}

.popoutgraphright img{
  width: 100%;
}

@media only screen and (min-width:601px)
{.popoutgraphleft {
  max-width: 25%;
  margin-right: 16px;
  float: left;
  margin-left: 17%;
  position: relative;
  margin-bottom: 16px;
  margin-top: 8px;
  display: block;
}
}

@media only screen and (max-width:600px)
{.popoutgraphleft {
  position: relative;
  margin-bottom: 16px;
  margin-top: 8px;
  display: block;
}
}

.popoutgraphleft img{
  width: 100%;
}


@media only screen and (max-width:600px)
{h2.subheadline{
  font-family:"IvarHeadline-Bold";
  font-size: 24px;
  width: 50%;
  margin: 0 auto 20px auto;
  color: #1C1C1C;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
}}

@media only screen and (min-width:601px)
{   h2.subheadline{
    font-family:"IvarHeadline-Bold";
    font-size: 24px;
    width: 50%;
    margin: 100px auto 20px auto;
    color: #1C1C1C;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
}}

.pullquote {
  margin-top: 16px;
  width: 75%;
  box-sizing: border-box;
  margin: 16px 10%;
}

.pullquote p{
  font-family: "IvarText-Regular", Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #31463f;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 16px;
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.image-relative {
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 16px;
  display: block;
}

.image-relative img{
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.img-cap p{
  font-size: 14px;
  caption-side: bottom;
  margin-right: 4px;
  font-family:"Staff-Regular", Arial, Helvetica, sans-serif;
}

.img-cap span{
  font-size: 14px;
  caption-side: bottom;
  margin-right: 4px;
  font-family:"Staff-Regular", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

span.dropcap {
  font-family:"IvarText-Regular", Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 5em;
  line-height: .9em;
  float: left;
  padding-right: 16px;
  margin-top: 8px;
}


.def h4{
  color: #000000;
    font-family: "Staff-Regular","Helvetica","Arial","sans-serif";
    font-weight: 300;
    font-size: 15px;
    max-width: 100%;
    margin:15% 5% 5% 25%;
    line-height: 1.5;
}

@media only screen and (max-width:680px) {
.def figure {
    float: right;
    max-width: 100%;
    margin: 20px 10% 20px 20px;
    background-image: url('./img/background3.png');
    padding: 10px 10px 10px 10px;
  }
}
@media only screen and (min-width:681px) {
.def figure {
    float: right;
    max-width: 30%;
    margin: 20px 10% 20px 10px;
    background-image: url('./img/background3.png');
    padding: 7px 7px 7px 7px;
  }
} 


@media only screen and (max-width:600px)
{.Susan  {
  float: left;
  width: 100%;
  padding: 0%;
  margin-bottom: 20px;
}
}
/* add caption */

@media only screen and (min-width:601px)
{.Susan  {
  float:left;
  width: 20%;
  padding: 0%;
  margin-left: 0px;
  margin-right: 30px;
  margin-top: 0px;
}}


@media only screen and (max-width:600px)
{.quote-sec{
  position: relative;
  height: 340px;
  width: 70%;
  margin: 0 auto 450px auto;
}}

@media only screen and (min-width:601px)
{.quote-sec{
  position: relative;
  height: 220px;
  width: 50%;
  margin: 100px auto 200px auto;
}}

@media only screen and (max-width:600px)
{.flourish{
  width: 90%;
  margin: 10px 30px 10px 5%;
}}

@media only screen and (min-width:601px)
{.flourish{
  position: relative;
  width: 100%;
  margin: 10px 0 10px 0;
}}

@media only screen and (max-width:600px)
{.explaination{
  position: relative;
  width: 100%;
  height: auto;
  background-image:url(/img/expbg.png) left top no-repeat;
  background-size: cover;
  padding: 15px;
  float: right;}}

@media only screen and (min-width:601px)
{.explaination{
  position: relative;
  width: 80%;
  height: auto;
  background-image:url(/img/expbg.png) left top no-repeat;
  background-size: cover;
  padding: 15px;
  float: right;
}}
/*
@media only screen and (max-width:600px)
{.explaination p{
  font-family: "IvarText-Regular",Georgia, 'Times New Roman', Times, serif;
  text-align: left;
}}

@media only screen and (min-width:601px)
{.explaination p{
  font-family: "IvarText-Regular",Georgia, 'Times New Roman', Times, serif;
  text-align: left;
  color: rgb(49, 70, 63);
  display: block;
font-size: 20px;
height: 26px;
line-height: 26px;
margin-block-end: 8px;
margin-block-start: 8px;
margin-bottom: 8px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 8px;
width: 975.75px;
z-index: 1;
}} */

.mapboxcap {
  font-family: "Staff-Regular", Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 10px auto 0 auto;
  font-size: 24px;
}

.article-link{
  border-bottom-color: #cd395d;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  color: #cd395d;
  cursor: auto;
  display: inline;
  font-family:"Staff-Regular", Arial, Helvetica, sans-serif;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 18px;
  z-index: 1;
}

.headline {
  margin-bottom:-4px;
}


@keyframes speech{

  0%{top: -20px;}
  25%{top:5px; box-shadow: 7px 40px 40px #545353;}
  50%{top:20px;}
  75%{top: -20px;box-shadow: 7px -10px 50px #545353;}
  100%{top:0;}
}


.audio-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  #audio {
    display: none;
  }
  
  .voice-bar {
    height: 10px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  
  p.quots{
    margin: 0.3em;
    font-family: IvarText-Regular;
    font-size: 15px;
    color: #fff;
  }

 

@media only screen and (max-width: 600px) {
  /* For mobile */
  
  .container{
    width:100%;
    margin:0 auto 0 auto;
  }
  }
  
@media only screen and (min-width: 481px) {
  /* For tablets in portrait orientation and extra large phones */
  
  .container{
    width:100%;
    margin:0 auto 0 auto;
  }
  }
  
  
@media only screen and (min-width: 768px) {
  /* For tablets */
  
  .container{
    width:100%;
    margin:0 auto 0 auto;
  }
  }
  
@media only screen and (min-width: 960px) {
  /* For laptops */
  
  .container{
    width:100%;
    margin:0 auto 0 auto;
  }
  }
  
  @media only screen and (min-width: 1200px) {
  /* For desktops */
  
  .container{
    width:100%;
    margin:0 auto 0 auto;
  }
  }

  /* Mapbox Styling Start */
  #map {
    top:0;
    height: 100vh;
    width:inherit;
    position: sticky;
  }
  #mapInset {
    top: 650px;
    left: 1200px;
    height: 180px;
    width: 250px;
    max-width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
  }

  #mapInset .mapboxgl-ctrl-bottom-left{
      display: none;
  }

  #legend {
  background-color: #1c1c1ccc;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 30px;
  bottom: 70px;
  padding: 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .legend-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  color: #fff;
  }

  .legend-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  }

  .legend-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px 0 5px;
  color: #fff;
  }

  .legend-key {
  display: inline-block;
  text-align: center; /* add this line */
  border-radius: 20%;
  width: 30px;
  height: 10px;
  margin-bottom: 5px;
  }

  .legend-value {
  display: inline-block;
  /* margin-left: 10px; */
  text-align: center;
  font-size: 12px;
  }
  @media (max-width: 500px) {
      #mapInset {
          display: none;
      }
      #legend {
          display: none;
      }
  }
  #header {
      margin: auto;
      width: 100%;
      position: relative;
      z-index: 5;
  }
  #header h1, #header h2, #header p {
      margin: 0;
      padding: 2vh 2vw;
      text-align: center;
  }
  #footer {
      width: 100%;
      min-height: 5vh;
      padding-top: 2vh;
      padding-bottom: 2vh;
      text-align: center;
      line-height: 25px;
      font-size: 13px;
      position: relative;
      z-index: 5;
  }
  #features {
      /* padding-top: 50vh;
      padding-bottom: 10vh; */
  }
  .hidden {
      visibility: hidden;
  }
  .centered {
      width: 50vw;
      margin: 0 auto;
  }
  .lefty {
      width: 33vw;
      margin-left: 5vw;
  }
  .righty {
      width: 33vw;
      margin-left: 62vw;
  }
  .fully {
      width: 100%;
      margin: auto;
  }
  .light {
      color: #444;
      background-color: #fafafa;
  }
  .dark {
      color: #fafafa;
      background-color: #444;
      border-radius: 10px;
  }

  .step {
      padding-bottom: 50vh;
      /* margin-bottom: 10vh; */
      opacity: 0.25;
  }

  .step a, a:hover, a:visited {
    color: #fafafa;
    text-decoration: underline;
}
  .step.active {
      opacity: .90;
  }

  .step div {
      padding:  25px 50px;
      line-height: 25px;
      font-size: 18px;
  }

  .step img {
      width: 100%;
  }

  @media (max-width: 750px) {
      .centered, .lefty, .righty, .fully {
          width: 90vw;
          margin: 0 auto;
      }

  }

  /* Fix issue on mobile browser where scroll breaks  */
  .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
  .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
      touch-action: unset;
  }
  /* Mapbox Styling End */

  /* Search Tool Start */
  select {
    text-align: center;
    font-weight: 600;
  }
  
  .searchHeader {
    background-color: #31463F;
    color: white;
    padding: 1rem;
    text-align: center;
  }

  #searchTool {
    padding: 1rem;
    padding-bottom: 3rem;
  }
  
  #searchTool a {
    color: #1c1c1c;
    text-decoration: underline;
  }
  
  li {
    margin-bottom: 1rem;
    border: #1C1C1C 1px solid !important;
  }
  
  #sub1 {
    padding: 0.5rem 1rem 0.5rem 1rem;
    /* border: 1px solid #1C1C1C; */
    margin-bottom: 0;
  }
  
  #sub2 {
    padding: 0.5rem 1rem 0.5rem 1rem;
    /* border: 1px solid #1C1C1C; */
    margin-bottom: 0;
  }
  /* Search Tool End */


/* ------------------- TEASERS ---------------------------------- */
h2.teasertitle {
    font-size:1.2em; 
    letter-spacing: 2px; 
    text-transform:uppercase;
    color:#CD395B
}
.team1teaser {
        background-image: url("https://mediainnovation.camd.northeastern.edu/2023/restorativejustice/images/thumbnail-team1.png");
        background-repeat: no-repeat;
    background-size:cover;
  background-position: center; 
    min-height: 200px;
    }
.team2teaser {
        background-image: url("https://mediainnovation.camd.northeastern.edu/2023/restorativejustice/images/thumbnail-team2-turner.png");
        background-repeat: no-repeat;
    background-size:cover;
  background-position: center; 
    min-height: 200px;
    }
.team3teaser {
        background-image: url("https://mediainnovation.camd.northeastern.edu/2023/restorativejustice/images/thumbnail-team3.jpg");
        background-repeat: no-repeat;
    background-size:cover;
  background-position: center; 
    min-height: 200px;
    }
a:link {text-decoration: none}
/* --------------- TEASER FOR MOBILE --------------------------- */
@media only screen and (max-width: 600px) {
.teaserwrapper {
    display:block;
    width:90%;
    margin:0 auto;
}
    
.teaserwrapper a.teaserlink * {
        text-decoration: none;
        border-bottom: 0;
    }
a:link .teaseritem {
    display:block;
    background-color: white;
    text-decoration: none;
    border: 4px solid #BADEFC;
    margin-bottom: 30px;
}
    
a:visited .teaseritem {
    display:block;
    background-color: white;
    text-decoration: none;
    border: 4px solid #BADEFC;
}
    
a:hover .teaseritem {
    display:block;
    background-color: #F6F2E1;
    text-decoration: none;
    border: 4px solid #CD395B;
}
.teaseritem img {
        width: 100%;
    }
    
img.teaserhighlight {
    width: 150px;
    margin-left: 33%;
    position: relative;
    top:-20px;
    }
    
 a .teaseritem .teaserblock h3 {
        font-family: "Staff-Bold","Arial-Bold",sans-serif;
        font-size: 1.5em;
        line-height: 1.0;
        color: #1c1c1c; 
        text-align: center;     
        padding: -50px 20px 0 20px;
        margin:0;
        text-decoration: none;
    }
    
a .teaserblock p {
        font-family: "IvarText-Regular","Georgia",serif;
        font-size: 18px;
        line-height: 1.2;
        color: #1c1c1c;
        text-align: center;
        padding: 0px 20px 20px 20px;
        margin:0;
    }   
}
/* --------------- TEASER FROM MOBILE TO TABLET ------------- */
@media only screen and (min-width: 601px) {
.teaserwrapper {
    display:block;
    width:70%;
    margin:0 auto;
}
    
.teaserwrapper a.teaserlink {
        text-decoration: none;
        border-bottom: 0;
    }
a:link .teaseritem {
    display:block;
    background-color: white;
    text-decoration: none;
    border: 4px solid #BADEFC;
    margin-bottom: 30px;
}
    
a:visited .teaseritem {
    display:block;
    background-color: white;
    text-decoration: none;
    border: 4px solid #BADEFC;
}
    
a:hover .teaseritem {
    display:block;
    background-color: #F6F2E1;
    text-decoration: none;
    border: 4px solid #CD395B;
}
.teaseritem img {
        width: 100%;
    }
    
img.teaserhighlight {
    width: 150px;
    margin-left: 33%;
    position: relative;
    top:-20px;
    }
    
 a:link .teaserblock h3 {
        font-family: "Staff-Bold","Arial-Bold",sans-serif;
        font-size: 1.2em;
        line-height: 1.0;
        color: #1c1c1c; 
        text-align: center;
     text-decoration: none;
        padding: 0px 20px 0 20px;
        margin:0;
    }
    
a .teaserblock p {
        font-family: "IvarText-Regular","Georgia",serif;
        font-size: 16px;
        line-height: 1.2;
        color: #1c1c1c;
        text-align: center;
        padding: 0px 20px 20px 20px;
        margin:0;
    }   
}
/* --------------- TEASER FROM TABLET to LAPTOP ------------- */
@media only screen and (min-width: 961px) {
.teaserwrapper {
    display:grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    width:90%;
    margin:0 auto;
}
    
    .teaserwrapper a.teaserlink {
        text-decoration: none;
        border-bottom: 0;
    }
a:link .teaseritem {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0px;
    background-color: white;
    text-decoration: none;
    border: 8px solid #BADEFC;
}
    
a:visited .teaseritem {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0px;
    background-color: white;
    text-decoration: none;
    border: 8px solid #BADEFC;
}
    
    a:hover .teaseritem {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0px;
    background-color: #F6F2E1;
    text-decoration: none;
    border:8px solid #CD395B;
}
}
/* --------------- TEASER FOR DESKTOP AND LARGER ------------- */
@media only screen and (min-width: 1281px) {
  .teaserwrapper {
      display:grid;
      grid-template-columns: auto auto;
      grid-column-gap: 20px;
      width:70%;
      margin:0 auto;
  }}
